<!-- /**
 * (c) 2024 Vignesh Balasubramanian
 * 
 * This code is licensed under MIT license (see LICENSE for details)
 */ -->
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="com.zoho" level="fine">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="edu.stanford.nlp" level="fine">
		<appender-ref ref="STDOUT" />
	</logger>


</configuration>